{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}問い合せフォーム{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('contact.contact_complete') }}" method="POST" novalidate="novalidate">
    <table>
        <tr>
            <td>ユーザ名</td>
            <td>
                <input type="text" name="username" value="{{ request.args.get('username', '') }}" placeholder="ユーザ名" />
            </td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td>
                <input type="text" name="email" value="{{ request.args.get('email', '') }}" placeholder="メールアドレス" />
            </td>
        </tr>
        <tr>
            <td>問い合わせ内容</td>
            <td>
                <textarea name="description" placeholder="問い合わせ内容">{{  request.args.get('description', '') }}</textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="問い合わせ" />
</form>
{% endblock %}