Flask==2.2.3
types-Flask==1.1.6
types-Flask-Cors==3.0.10.4
Flask-Cors>=3.0
python-dotenv==1.0.0
# uwsgi>=2.0.19.1
black>=21.12b0
flake8>=3.9.2
isort>=5.9.3
mypy>=0.910
pytest==7.2.2
coverage==7.2.2
# メール送信拡張:Flask-Mail
Flask-Mail==0.9.1
# メールバリデーション拡張:email-validator
email-validator==1.3.1
Flask_SQLAlchemy==3.0.3
Flask-Migrate==3.1.0
flask-marshmallow==0.14.0
PyMySQL==1.0.3
cryptography==40.0.1
mysql-connector-python==8.0.32
numba==0.56.4
pytz==2023.3
WTForms==3.0.1
Flask-WTF==1.1.1
Flask-SocketIO==5.3.3