Flask==2.2.3
types-Flask
Flask-Cors>=3.0
types-Flask-Cors
python-dotenv
# uwsgi>=2.0.19.1
black>=21.12b0
flake8>=3.9.2
isort>=5.9.3
mypy>=0.910
pytest
coverage
# メール送信拡張:flask-mail
flask-mail
# メールバリデーション拡張:email-validator
email-validator
Flask_SQLAlchemy==3.0.3
Flask-Migrate==3.1.0
pymysql
cryptography
mysql-connector-python
numba